<a href="https://colab.research.google.com/github/ishpreet09/Pro-C134FilteringStars/blob/master/Pro_C134FilteringStars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

file_upload=files.upload()

Saving stars_with_gravity.csv to stars_with_gravity.csv

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

df = pd.read_csv("stars_with_gravity.csv")

df.head()

   Unnamed: 0       Star_name    Distance  Mass  Radius     Gravity
0           0             Sun    0.000016   1.0    1.00  274.269161
1           1          Sirius    8.600000   2.1    1.71  196.971800
2           2         Canopus  310.000000  15.0   71.00    0.816115
3           3  Alpha Centauri    4.400000   1.1    1.20  209.511165
4           4        Arcturus   37.000000   1.1   26.00    0.446296

In [9]:
bools=[]
for d in df.Distance: 
  if d <= 100:
    bools.append(True)
  else:
    bools.append(False)

In [10]:
print(bools)

[True, True, False, True, True, True, True, False, True, False, False, False, True, False, True, False, False, True, True, False, False, True, False, False, True, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, False, True, True, True, False, False, False, False, True, False, False, False, True, False, False, False, True, False, False, True, False, False, False, False, False, False, False, True, True, True, False, False, False, False, False, False, True, False, True, False, True, True, True, False, True, False, True, False, True, False, True, True, True, True, True, True, True, True, False, False, True, False, False, False, False, True, True, True, False, True, True, True, True, False, True, True, True, True, True, True, False, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, True, True, False, False, True, False, True, True, False, True, True, True, False, True, True, True, True, False, True, True, True, True, True, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, False, True, True, True, False, True, False, True, True, True, True, False, True, True, True, False, True, True, True, True, True, False, True, True, True, True, True, True]

In [11]:
is_dist=pd.Series(bools)

In [12]:
is_dist.head()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [13]:
star_dist=df[is_dist]

In [14]:
star_dist.reset_index(inplace=True,drop=True)
star_dist.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3           4        Arcturus  37.000000   1.1   26.00    0.446296
4           5            Vega  25.000000   2.2    2.70   82.769843

In [15]:
star_dist.shape

(159, 6)

In [16]:
gravity_bools=[]
for g in star_dist.Gravity:
  if g>=150 and g<=350:
    gravity_bools.append(True)
  else:
    gravity_bools.append(False)

In [17]:
is_gravity=pd.Series(gravity_bools)

In [18]:
final_stars = star_dist[is_gravity]
final_stars.head()

    Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0            0             Sun   0.000016   1.0    1.00  274.269161
1            1          Sirius   8.600000   2.1    1.71  196.971800
2            3  Alpha Centauri   4.400000   1.1    1.20  209.511165
7           12          Altair  17.000000   1.8    1.80  152.371756
10          18       Fomalhaut  25.000000   1.9    1.80  160.836854

In [19]:
final_stars.shape

(21, 6)

In [20]:
final_stars.reset_index(inplace=True,drop=True)

In [21]:
final_stars.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3          12          Altair  17.000000   1.8    1.80  152.371756
4          18       Fomalhaut  25.000000   1.9    1.80  160.836854

In [22]:
final_stars.to_csv("filtered_stars.csv")